@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}

@mixin max-size($width, $height: $width) {
  max-height: $height;
  max-width: $width;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin hover-white {
  &:hover {
    color: $white;
    background-color: $light_grey;
  }
}

@mixin hover-blue {
  color: $white;

  &:hover {
    background-color: lighten(#4a90f0, 5%);
    color: $white;
  }
}

@mixin stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .rating {
    position: relative;
    font-size: 25px;
    display: inline-block;
    &:before {
      content: "★★★★★";
      display: block;
    }
    .rating__items {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
    }
    .rating__item {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
    }
    .rating__label {
      flex: 0 0 20%;
      height: 100%;
      cursor: pointer;
      color: $light-grey;
      &:before {
        content: "★";
        display: block;
        transition: color 0.3s ease 0s;
      }
      &:hover {
        color: $sunshade;
        ~ {
          .rating__label {
            color: $sunshade;
          }
        }
      }
      &:checked {
        ~ {
          .rating__label {
            &:hover {
              color: $sunshade;
            }
          }
        }
      }
    }
  }
}
@mixin activities-text {
  .item__rating-text {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: $white;
    padding: 0px 10px;
  }
  .items__text {
    padding-top: 7.5rem;
    font-size: 14px;
    color: #fff;
  }
  .items__title {
    font-size: 35px;
    color: #fff;
  }
}
