.footer {
  background-color: $white-smoke;
  border-top: 1.25rem solid $light-grey;
  overflow: hidden;
  .footer__body {
    margin-top: 5rem;
    align-items: baseline;
    border-bottom: 2px solid $light-grey;
    .footer__info {
      .footer__title {
        font-size: 16px;
        color: $night-rider;
        margin-bottom: 2rem;
      }
      .footer__list {
        a {
          font-size: 14px;
          color: $grey;
          text-decoration: none;
          line-height: 2.14;
        }
      }
    }
    .footer__form {
      .form__title {
        @media #{$max-screen-sm} {
          margin-bottom: -15px;
          margin-top: 10px;
        }
      }
      input {
        height: 30px;
      }
      .btn {
        max-width: 170px;
        width: 100%;
        height: 30px;
        @media all and (max-width: 566px) {
          width: 100px;
        }
        @media all and (max-width: 375px) {
          max-width: 100%;
        }
      }
      .btn-info {
        font-size: 13px;
        color: $white !important;
      }
      .social {
        margin-top: 3.5rem;
        @media #{$max-screen-xl} {
          margin-bottom: 2rem;
        }
        @media #{$max-screen-lg} {
          margin-bottom: 2rem;
        }
        @media #{$max-screen-md} {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }
        @media #{$max-screen-sm} {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
      .social__item {
        max-width: 40px;
        height: 40px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        padding-top: 10px;
        margin-right: 1.875rem;
        @media #{$max-screen-sm} {
          margin-right: 1rem;
        }
        @media all and (max-width: 375px) {
          max-width: 30px;
          height: 25px;
          padding-top: 0px;
          margin-right: 10px;
        }
        a {
          @media all and (max-width: 375px) {
            margin-left: -3px;
          }
        }
      }
    }
  }
  .privacy-policy {
    margin-top: 2.5rem;
    .copyright {
      h6 {
        font-size: 14px;
        color: $grey;
        @media #{$max-screen-md} {
          text-align: center;
          transform: translateX(40px);
        }
        @media all and (max-width: 375px) {
          text-align: center;
          transform: translateX(0px);
        }
      }
    }
    .pricavy {
      font-size: 14px;
      color: $grey;
      cursor: pointer;
    }
  }
}
